In [1]:
import pandas as pd

# import the data
client_data = pd.read_csv('Data/export.csv')
print(client_data.shape)

client_data.head(10)

(64911906, 6)

,customer_id,account_id,ed_id,event_name,event_timestamp,journey_steps_until_end
0,-784961211,1773350293,12,application_web_approved,2023-03-22T08:45:22.000Z,1
1,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,2
2,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,3
3,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,4
4,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,5
5,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,6
6,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,7
7,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,8
8,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,9
9,-784961211,1773350293,19,application_web_view,2023-03-22T13:32:10.000Z,10

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
from datetime import datetime
import warnings
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
#from sklearn.preprocessing import StandardScaler

In [3]:
# check if there are NAs
client_data.isna().any()

customer_id                False
account_id                 False
ed_id                      False
event_name                 False
event_timestamp            False
journey_steps_until_end    False
dtype: bool

In [4]:
client_data.dtypes

customer_id                 int64
account_id                  int64
ed_id                       int64
event_name                 object
event_timestamp            object
journey_steps_until_end     int64
dtype: object

In [5]:
# warnings.filterwarnings('ignore')
# start_time = time.time()

# sample_data['event_timestamp'] = pd.to_datetime(sample_data['event_timestamp'])

# end_time = time.time()
# execution_time = end_time - start_time
# print(f"Execution time: {execution_time} seconds")

In [6]:
# warnings.filterwarnings('ignore')
# start_time = time.time()

# sample_data['Date'] = sample_data['event_timestamp'].str[:10]
# sample_data['Time'] = sample_data['event_timestamp'].str[11:19]
# sample_data.drop('event_timestamp', axis=1, inplace=True)

# end_time = time.time()
# execution_time = end_time - start_time
# print(f"Execution time: {execution_time} seconds")

# sample_data

In [7]:
client_data['Date'] = client_data['event_timestamp'].str[:10]
client_data['Time'] = client_data['event_timestamp'].str[11:19]
client_data.drop('event_timestamp', axis=1, inplace=True)

In [8]:
# client_data.head(10)

In [9]:
# remove duplicates in each customer_id, account_id
filtered_data = client_data.drop('journey_steps_until_end', axis=1).drop_duplicates()

In [10]:
filtered_data.head(10)

,customer_id,account_id,ed_id,event_name,Date,Time
0,-784961211,1773350293,12,application_web_approved,2023-03-22,08:45:22
1,-784961211,1773350293,19,application_web_view,2023-03-22,13:32:10
14,-784961211,1773350293,3,application_web_submit,2023-03-22,13:32:10
15,-784961211,1773350293,2,campaign_click,2023-03-22,14:45:22
16,-784961211,1773350293,19,application_web_view,2023-07-27,14:57:56
21,-784961211,1773350293,19,application_web_view,2023-08-29,16:01:06
24,15849251,383997507,4,browse_products,2021-11-04,14:11:15
25,15849251,383997507,4,browse_products,2021-11-04,14:11:29
26,15849251,383997507,4,browse_products,2021-11-04,14:12:10
27,15849251,383997507,4,browse_products,2021-11-04,14:12:21

In [ ]:
# filtered_data[filtered_data['customer_id'] == 15849251]

In [ ]:
# add journey_steps back
filtered_data['journey_steps_until_end'] = filtered_data.groupby(['customer_id', 'account_id']).cumcount() + 1

In [ ]:
filtered_data.shape

(55853910, 7)